<div>
  <m-label-restriction [label]="label" [restriction]="restriction" [operators]="operators"></m-label-restriction>

  <div *ngIf="isOperatorTypeSingle()" class="ui-g-12">
    <input pInputText type="text" [(ngModel)]="restriction.value" />
  </div>

  <div *ngIf="isOperatorTypeMultiple()" class="ui-g-12">
    <p-chips [(ngModel)]="restriction.values" allowDuplicate="false" addOnTab="true"></p-chips>
  </div>

  <div *ngIf="isOperatorTypeBetween()">
    <div class="ui-g-12 ui-md-6">
      <input pInputText type="text" [(ngModel)]="restriction.valueStart" />
    </div>
    <div class="ui-g-12 ui-md-6">
      <input pInputText type="text" [(ngModel)]="restriction.valueEnd" />
    </div>
  </div>
</div>
