<p-dialog 
  [header]="header" 
  [(visible)]="association.visible" 
  [modal]="modal"
  [appendTo]="appendTo"
  [contentStyle]="contentStyle">
  
  <ng-content></ng-content>

  <p-footer>
    <div class="ui-fluid">
      <div class="ui-g">
        <div class="ui-g-6">
          <button pButton (click)="association.save()" icon="pi pi-check" class="ui-button-raised ui-button-success" label="Salvar"></button>
        </div>
        <div class="ui-g-6">
          <button pButton (click)="association.cancel()" icon="pi pi-times" class="ui-button-raised ui-button-secondary" label="Cancelar"></button>
        </div>
      </div>
    </div>
  </p-footer>
</p-dialog>