<div class="ui-g-12" style="padding-bottom: 1px">
  {{label}}: (<span class="link" (click)="op.toggle($event)">{{getOperatorLabel()}}</span>)
</div>
<p-overlayPanel #op appendTo="body">
  <div *ngFor="let operator of operators" style="padding: 2px 0">
    <p-radioButton name="mlr_{{restriction.attribute}}_operator" [value]="operator.id" [(ngModel)]="restriction.operator" [label]="operator.label" (click)="onChangeOperator(op)"></p-radioButton>
  </div>
</p-overlayPanel>