<div>

  <m-label-restriction [label]="label" [restriction]="restriction" [operators]="operators"></m-label-restriction>

  <div *ngIf="restriction.isOperatorTypeInOrNotIn()" class="ui-g-12">
    <div *ngFor="let item of items">
      <p-checkbox [name]="getName()" [value]="item[itemId]" [(ngModel)]="restriction.values" [label]="item[itemLabel]" ></p-checkbox>
    </div>
  </div>

  <div *ngIf="restriction.isOperatorTypeEqualsOrNotEquals()" class="ui-g-12">
    <div *ngFor="let item of items">
      <p-radioButton [name]="getName()" [value]="item[itemId]" [(ngModel)]="restriction.value" [label]="item[itemLabel]" ></p-radioButton>
    </div>
  </div>
</div>
